<center>
|  <%= link_to 'HOME', root_path %>  |
<center>

<div class='simple-center'>
<br>

<h1>I'll make an API call.</h1>
<h1>Click SHOW to see an address below or add a new one.</h1>

<p>
<br>

<center>

<div class='skinny-table'>
<table class="table table-bordered table-striped">
  <tr>
    <th>Number</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
  </tr>

  <% @addresses.each do |address| %>
    <tr>
      <td><%= address.number %></td>
      <td><%= address.street %></td>
      <td><%= address.city %></td>
      <td><%= address.state %></td>
      <td><%= link_to 'SHOW', address_path(address) %></td>
      <td><%= link_to 'EDIT', edit_address_path(address) %></td>
      <td><%= link_to 'DESTROY', address_path(address),
              method: :delete,
              data: { confirm: "OK, well, be careful, I guess" } %> </td>
    </tr>
  <% end %>
</table>

</div>

</center>

<br>

<%= link_to "ADD A NEW ADDRESS", new_address_path %>

</div>
